

.menuItem {
	background-color: rgba(51, 51, 51, 1) !important;
	font-size: 1.1em;
	display: block;
	z-index: 1000;
	margin-top: 0px !important;
	margin-bottom: 0px;
	border-radius: 0;
	border-bottom: 1px solid black;
}

.Navbar{

    width: 100%;
    position: fixed;
    background-color: rgb(16,108,200);
    height: 70px;
    align-items: center;
    padding: 8px 16px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

}

.Navbar-logo{

    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 3.2rem;
    page-break-after: 0 1rem;
    display: flex;
}

.Navbar-logo h2 {
    font-size: 1.5rem;
    margin-left: 4rem;
    position: absolute;
    margin-top: 11px;
    color: white;
}

.Navbar-logo:hover{
    text-decoration: none;
    color: white;
    transition: cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
    background-color: rgb(.35,0,.25,.2);
    border-radius: 4px;
    width: 227px;
}

.spacer{
    flex: 1;
}
.Navbar-navigation{

    display: flex;
    align-items: center;

}

.Navbar-nav-items{
    margin-right: 1.2rem;
}

.Navbar-nav-items a {
    color: white;
    text-decoration: none;
}

.Navbar-nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.Navbar-nav-items li {
    padding: 0 0.7rem;
}

.Navbar-nav-items .link-container {
    padding: 10px;
}

.Navbar-nav-item:hover,
.Navbar-nav-item:active {
    color: white;
    transition: cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
    background-color: rgb(.35,0,.25,.2);
    border-radius: 4px;
}

.Navbar-nav-item{


}

