.modal{
    display: none;
}

.fadebackground{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 800;
    text-align: center;
    background-color: rgba(138, 138, 138, 0.9);
}

.confirmationCard{

    z-index: 900;

}