
.movie-card{
    position: relative;
    display: inline-block;
    flex-direction: column;
    width: 200px;
    min-height: 0;
    background: #fff;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: box-shadow .1s ease,transform .1s ease;
    height: auto;
    margin: 25px;
}



.movie-card-img{
    width: 100%;
    height: 100%;
}

.movie-card-container{
    padding: .5rem;
}

.movie-card-container h2{
    font-size: 15px;
}

.movie-card:hover .description-hover,
.movie-card:active .description-hover {
    color: white;
    transition: cubic-bezier(.35,0,.25,1),background-color .2s cubic-bezier(.35,0,.25,1);
    background-color: #000000a6;
    display: block;
    cursor: pointer;

}

.description-hover{
    display: none;
    font-size: 13px;
    position: absolute;
    top: 0rem;
    left: 0;
    background-color: #000000a6;
    color: white;
    height: 100%;
    font-weight: bolder;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.description-hover span{
    position: relative;
    top: 27%;
    text-align: center;
    white-space: normal;
}