.videoPlayer{
    width: 100%;
    height: 100%;
}

.video-container{
    height: 99%;
    background-color: black;
    position: absolute;
    top: 9px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}