.detail-container{
    padding: 5rem;
    text-align: left;
}

.movieDescription{
    margin-top: 7%;
    width: 60%;
    font-size: 20px;
}

.watch-button{
    margin-top: 2rem;
}

.card-detail{
    position: relative;
    display: inline-block;
    flex-direction: column;
    width: 100%;
    min-height: 0;
    background: #fff;
    padding: 2rem;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 9px 12px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: box-shadow .1s ease,transform .1s ease;
    height: auto;
}