.img-background{
    background-color: #e0e6ed;
    background-image: url('../../assets/images/Login/login.jpeg');
    height: 100%;
    width: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.login-card{
    position: absolute;
    top: 25%;
    left: 37%;
    height: 270px;
    width: 400px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.loginForm{
 
    padding: 1rem;

}

.loginForm h2{
    text-align: center;
}

.login-btn{
    margin-left: 70%;
    margin-top: 40px;
}
