
.scrolling-container{
    padding: 2rem;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.scrolling-wrapper::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

